<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>MedicalNotification</display-name>
	<welservlete-file-list>
		<welservlete-file>index.html</welservlete-file>
		<welservlete-file>index.htm</welservlete-file>
		<welservlete-file>index.jsp</welservlete-file>
		<welservlete-file>default.html</welservlete-file>
		<welservlete-file>default.htm</welservlete-file>
		<welservlete-file>default.jsp</welservlete-file>
	</welservlete-file-list>
	<!-- <servlet> <servlet-name>config</servlet-name> <servlet-class>org.apache.struts.action.ActionServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>config</servlet-name> <url-pattern>*.do</url-pattern> 
		</servlet-mapping> -->
	<servlet>
		<servlet-name>srv1</servlet-name>
		<servlet-class>com.servlet.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv1</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv2</servlet-name>
		<servlet-class>com.servlet.CheckAvailability</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv2</servlet-name>
		<url-pattern>/Existence</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv3</servlet-name>
		<servlet-class>com.servlet.PatientList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv3</servlet-name>
		<url-pattern>/Patient</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv4</servlet-name>
		<servlet-class>com.servlet.Patient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv4</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv5</servlet-name>
		<servlet-class>com.servlet.NewPrescription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv5</servlet-name>
		<url-pattern>/createPrescription</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv6</servlet-name>
		<servlet-class>com.servlet.UpdatePatientInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv6</servlet-name>
		<url-pattern>/updatePrescription</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv7</servlet-name>
		<servlet-class>com.servlet.ShowMedicine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv7</servlet-name>
		<url-pattern>/findMedicine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv8</servlet-name>
		<servlet-class>com.servlet.PrescriptionDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv8</servlet-name>
		<url-pattern>/PrescriptionDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv9</servlet-name>
		<servlet-class>com.servlet.AddNewMedicine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv9</servlet-name>
		<url-pattern>/addMedicine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv10</servlet-name>
		<servlet-class>com.servlet.DeletePrescription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv10</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv11</servlet-name>
		<servlet-class>com.servlet.DeleteMedicine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv11</servlet-name>
		<url-pattern>/deleteMed</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>srv12</servlet-name>
		<servlet-class>com.servlet.PrescriptionInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>srv12</servlet-name>
		<url-pattern>/patientPrescription</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>srv13</servlet-name>
	<servlet-class>com.servlet.UpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>srv13</servlet-name>
	<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>srv14</servlet-name>
	<servlet-class>com.servlet.UpdatePassword</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>srv14</servlet-name>
	<url-pattern>/updatePass</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>srv15</servlet-name>
	<servlet-class>com.servlet.SendEmail</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>srv15</servlet-name>
	<url-pattern>/sendMail</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>srv16</servlet-name>
	<servlet-class>com.servlet.UpdateDoseTiming</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>srv16</servlet-name>
	<url-pattern>/updateDose</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>srv17</servlet-name>
	<servlet-class>com.servlet.PrintName</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>srv17</servlet-name>
	<url-pattern>/print</url-pattern>
	</servlet-mapping>
<!-- <listener>
	<listener-class>
             com.servlet.NotificationPush
        </listener-class>
   </listener> -->
</web-app>