
<div class="container">

	<h4 style="color: purple;">

		<div style="width: 100%; padding-left: 20%; padding-right: 20%;">
			 <span data-ng-bind="patientInfo"
				style="color: red;"></span> <input type="hidden" name="patientEmail"
				ng-bind="patientEmail" ng-model="patientEmail"> <input
				type="button" name="find" value="Show All PrescriptionId"
				ng-click="showPatientId()" class="inputButton">
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>Prescription Id</th>
						<th>Details</th>
						<th>Action</th>
					</tr>
				</thead>
				<tfoot>
					<tr ng-repeat="y in prescription">

						<th ng-click="showPatientMedicines(y)"><a
							ng-href="#/id/{{y.prescriptioId}}">{{y.prescriptioId}}</th>
						<th>{{y.prescriptionDetails}}</th>
						<th><input type="button" value="Del" class="forminputButton"
							ng-click="removeRow(y.prescriptioId)" ng-model="remove"
							confirm="Are you sure?" confirm-title="Please verify, {{name}}?"
							confirm-ok="Yes" confirm-cancel="No" /></th>
					</tr>
				</tfoot>
			</table>
			<br> <input type="button" name="Add Prescription"
				value="Add Prescription" class="inputButton"
				ng-click="showPrescriptionForm()" ng-model="showForm">
			<div ng-if="showForm">
				<textarea class="input pass" rows="3" ng-model="message"
					name="message" ng-bind="PresMessage" value="{{message}}"></textarea>
				<input type="Button" value="Save" class="inputButton"
					ng-click="addNewPrescription(message)"> <input
					type="Button" value="Cancel" class="inputButton" ng-click="clear()">
			</div>
		</div>
</div>